body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: beige;
}

h1 {
    color: blueviolet;
}

#contador {
    font-size: 60px;
    font-weight: bold;
    margin: 30px;
    color: black;
    transition: color 0.3s ease;
}

.botones button {
    background-color:orange;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones button:hover {
    background-color: chocolate;
}